*
h1{float: center;
font-weight: bolder;
    margin-left: 30px;
    margin-bottom: 75px;
font-family: monospace;}


button{
    background-color:lime;
    width:40%;
        margin-top:20px;
    border-radius: 5px;
    justify-content: center;
}
.up{
    background: blue;
    width: 790px;
    margin:auto;
    
}
img{width: 75px;
float:left;
margin-left: 50px;}
.in{
    float: center;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    
    border-top-right-radius: 15px;
    
    margin-left: 50px;
}
.form{
    
    margin-left: 325px;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

